$circle-size: 56px;

.point-tooltip {
  position: absolute;
  left: calc(-#{$circle-size} / 2);
  top: calc(-#{$circle-size} / 2);

  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  color: var(--title-color);
  transform-origin: center;
  z-index: 100;

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: white;
    border: 1px solid rgba(48, 62, 88, 0.5);
  }

  &-title {
    font-weight: bold;
  }
}

.point-tooltip:not(.current) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .point-tooltip-title {
    display: none;
  }
}
